/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Responsive font */
hmtl {
  font-size: 62.5%;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  height: auto;
}

h2 {
  font-size: 4rem;
}

h2, h3, button {
  margin-bottom: 10px;
}

h3 {
  width: 55%;
  text-align: center;
}

span {
  color: darkgreen;
}

button {
  background-color: darkgreen;
  color:antiquewhite;
  border: black solid 2px;
  font-size: 1.3rem;
  height: 3em;
  width: 5em;
}

img {
  width: 50%;
  height: auto;
}

