/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Responsive font */
hmtl {
  font-size: 62.5%;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {

}

h2 {
  font-size: 3rem;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
